/* VTT Map styles */
.vtt-map-container {
  width: 100%;
  height: 600px;
}

.vtt-map-grid {
  background-image: 
    linear-gradient(to right, hsl(var(--border)) 1px, transparent 1px),
    linear-gradient(to bottom, hsl(var(--border)) 1px, transparent 1px);
  background-size: var(--grid-size, 50px) var(--grid-size, 50px);
}

.vtt-token {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid;
  transition: all 0.2s ease;
}

.vtt-token:hover {
  transform: scale(1.05);
}

.vtt-token-locked {
  cursor: not-allowed;
  opacity: 0.75;
  box-shadow: 0 0 0 2px rgb(251 191 36);
}

.vtt-health-bar {
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 3px;
  background-color: rgb(34 197 94);
  transition: width 0.3s ease;
}

.vtt-health-bar.warning {
  background-color: rgb(234 179 8);
}

.vtt-health-bar.danger {
  background-color: rgb(239 68 68);
}
