/* TokenLibrary.css */
.token-display {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: 2px solid;
  transition: all 0.2s ease;
}

.token-display-small {
  width: 32px;
  height: 32px;
}

.token-display-medium {
  width: 48px;
  height: 48px;
}

.token-display-large {
  width: 64px;
  height: 64px;
}

.token-display-huge {
  width: 96px;
  height: 96px;
}

.token-detail-display {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  border: 2px solid;
}

.token-detail-display-small {
  width: 32px;
  height: 32px;
}

.token-detail-display-medium {
  width: 48px;
  height: 48px;
}

.token-detail-display-large {
  width: 64px;
  height: 64px;
}

.token-detail-display-huge {
  width: 96px;
  height: 96px;
}
