/* sidebar.css */
.sidebar-container {
  --sidebar-width: 16rem;
  --sidebar-width-icon: 3rem;
}

.sidebar-mobile {
  --sidebar-width: 18rem;
}

.menu-skeleton-text {
  --skeleton-width: 100%;
}
